/* Navigation */
#navbar{
      flex-direction: column;
}
#navbar ul li a{
      font-size: 1rem;
      padding: 0px 6px;
      padding-bottom: 5px;
}
 
/* Home Section  */
#home{
      height: 370px;
      padding: 3px 15px;
}
#home p{
      font-size: 12px;

}
/* Service section */
#services{
      flex-direction: column;
}
/* Client section  */
#clients{
      flex-wrap: wrap;
}
#clients img{
      width: 70px;
      padding: 6px;
      height: auto;
}
.client-item {
      padding: 15px;
  }


/* Contact section */
#contact-box form{
width: 80%;
}



/* footer section  */



/* utility classes */
.h-primary{
      font-size: 25px;
      
}
.btn{
   font-size: 14px;
   padding: 5px 9px;
}